*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 100vh;
}

.loader
{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    pointer-events:none;
    animation: animate 5s linear infinite;
}

.loader span:nth-child(1)
{
    border-radius:63% 37% 31% 69% / 24% 45% 55% 76%    ;
}

.loader span:nth-child(2)
{
    border-radius: 48% 52% 43% 57% / 36% 42% 58% 64%  ;
    animation-direction: reverse;
}

.loader span:nth-child(3)
{
    border-radius: 48% 52% 31% 69% / 24% 76% 24% 76% ;
    animation-duration: 3s;
}

.loader span:nth-child(4)
{
    border-radius: 52% 48% 64% 36% / 57% 36% 64% 43%  ;
    animation-duration: 5s;
    animation-direction: reverse;
}

.loader span:nth-child(5)
{
    border-radius: 15% 85% 78% 22% / 24% 45% 55% 76%  ;
    animation-duration: 3s;
}

.loader span:nth-child(5)
{
    border-radius: 20% 80% 18% 82% / 24% 70% 30% 76%   ;
    animation-duration: 3s;
    animation-direction: reverse;
}


@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
    }    
    100%
    {
        transform: rotate(360deg);
    }    
}

.loader h2
{
    color: #fff;
    font-family: consolas;
    font-weight: 500;
}